<section  class="steps section">
    <!-- Section Title -->
    <div class="service-header">
      <div class="container">
        <h2 style="font-weight: 600;">
          Pourquoi un site web est essentiel ?
        </h2>
      </div>
    </div>

    <div class="container">
      <p class="lead">
        Un site internet est votre carte de visite digitale. Il vous
        permet de :
      </p>
      <br />
      <div
        class="tab-pane"
        id="service-details-tab-2"
        role="tabpanel"
        aria-labelledby="process-tab"
      >
        <div class="process-timeline">
          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Attirer de nouveaux clients</h4>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Renforcer votre crédibilité</h4>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Être disponible 24h/24 et 7j/7</h4>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Développer vos ventes et votre notoriété</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section  class="steps section">
    <!-- Section Title -->
    <div class="service-header">
      <div class="container">
        <h2 style="font-weight: 600;">Nos petits plus</h2>
      </div>
    </div>

    <div class="container">
      <div
        class="tab-pane"
        id="service-details-tab-2"
        role="tabpanel"
        aria-labelledby="process-tab"
      >
        <div class="process-timeline">
          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Rédaction de contenus optimisés pour le web</h4>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Intégration avec les réseaux sociaux</h4>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Outils de réservation en ligne</h4>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Systèmes de paiement sécurisés</h4>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-marker">
              <i class="bi bi-check2" style="font-size: 20px;"></i>
            </div>
            <div class="timeline-content">
              <h4>Statistiques et suivi des performances</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>