.carousel-container {
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}

.carousel-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.logo-carousel {
    width: 100%;
    overflow: hidden;
    cursor: grab;
}

.logo-track {
    display: flex;
    will-change: transform;
    align-items: center;
    /* Add this to vertically center logos */
}

.logo-carousel.dragging {
    cursor: grabbing;
}

.logo-item {
    flex: 0 0 auto;
    /* margin: 0px  15px; */
    padding: 0px 15px;
    transition: transform 0.3s ease;
    border-right: 1px solid #ffffffa6;
}

.logo-box {
    width: 120px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
}


/* Add these styles for the images */

.logo-box img {
    max-width: 100%;
    /* max-height: 100%; */
    object-fit: contain;
    /* Ensures images maintain aspect ratio */
    display: block;
    /* Removes extra space below images */
}

.logo-item:hover .logo-box {
    opacity: 1;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .logo-item {
        margin: 0 10px;
    }
}