/* h1.company-name {
    position: relative;
    overflow: hidden;
    color: #0a0f4f;
    font-size: 36px;
}

h1.company-name:before {
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, white 5%, white 100%);
    animation: animate 10s linear;
}

@keyframes animate {
    0% {
        left: 20%;
    }
    50% {
        left: 120%;
    }
}

#our_capabilities {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

#our_capabilities span {
    color: #111;
    padding: 5px;
    border-radius: 5px;
}

.brosmedia-btn {
    background-color: #0a0f4f;
    font-weight: 500;
}

.brosmedia-btn:hover {
    background-color: #0a0f4f;
    color: navajowhite;
}

h2#our_capabilities>span {
    color: #e30f29;
    text-decoration: underline;
    font-weight: 500;
} */