.page-title.dark-background.aos-init.aos-animate {
    background-color: #0a0f4f;
}

.work-steps>.container>h2 {
    margin-bottom: -280px;
}

section.steps.section.techs .col-6:last-child {
    margin-bottom: 1.5rem;
}

div#line-0,
div#line-5 {
    display: none;
}

@media (max-width: 768px) {
    section#success-keys {
        padding-bottom: 95px;
    }

    .work-steps>.container>h2 {
        margin-bottom: -385px;
    }
}


.brosmedia-RS.services .service-card .service-icon {
    background-color: transparent;
    width: 80px;
    height: auto;
}

.creation-publicitaire .service-header>ul>li>i{
    color: #e30f29 !important;
    font-size: 18px;
}



.services.brosmedia-RS .bi.bi-check2 {
    color: white;
    background-color: #e30f29;
    padding: 1px;
    margin-right: 2px;
}

.services.brosmedia-RS li{
    margin-bottom: 10px;

}

