.page-title.dark-background.aos-init.aos-animate {
    background-color: #0a0f4f;
}

.work-steps>.container>h2 {
    margin-bottom: -280px;
}

@media (max-width: 500px) {
    section#success-keys {
        padding-bottom: 95px;
    }
    .work-steps>.container>h2 {
        margin-bottom: -285px;
    }
}

section.steps.section.techs .col-6:last-child {
    margin-bottom: 1.5rem;
}

div#line-0,
div#line-5 {
    display: none;
}