---

---

<section id="services" class="services section brosmedia-RS">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Facebook -->
            <div class="col-lg-6 col-md-6">
                <div class="service-card position-relative z-1">
                    <div class="service-icon">
                        <img src="/RS/facebook-brosmedia.svg" />
                    </div>
                    <a
                        href="#client-max"
                        class="card-action d-flex align-items-center justify-content-center rounded-circle"
                    >
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <h3>
                        <a href="#client-max">
                            Facebook <span>Ads</span>
                        </a>
                    </h3>
                    <p>
                        Avec des millions d’utilisateurs actifs chaque jour,
                        Facebook est un levier incontournable pour promouvoir
                        vos produits et services de manière efficace et virale
                        grâce au partage et à l’interaction.
                    </p>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Idéal pour les entreprises locales et de proximité
                        </li>
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Idéal pour la vente de produits
                        </li>
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Touche un public adulte diversifié
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Impact MAX -->
            <div class="col-lg-6 col-md-6">
                <div class="service-card position-relative z-1">
                    <div class="service-icon">
                        <img src="/RS/youtube-brosmedia.svg" />
                    </div>
                    <a
                        href="#impact-max"
                        class="card-action d-flex align-items-center justify-content-center rounded-circle"
                    >
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <h3>
                        <a href="#impact-max">
                            YouTube <span>Ads</span>
                        </a>
                    </h3>
                    <p>
                        La publicité sur YouTube permet de diffuser vos messages
                        de manière ciblée et percutante, idéale pour renforcer
                        votre visibilité et développer vos ventes.
                    </p>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Idéal pour la vente de services
                        </li>
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Idéal pour la vente de formations
                        </li>
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Touche un public passionné et engagé
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Google -->
            <div class="col-lg-6 col-md-6">
                <div class="service-card position-relative z-1">
                    <div class="service-icon">
                        <img src="/RS/google ads-brosmedia.svg" />
                    </div>
                    <a
                        href="#visibilite-max"
                        class="card-action d-flex align-items-center justify-content-center rounded-circle"
                    >
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <h3>
                        <a href="#visibilite-max">
                            Google <span>Ads</span>
                        </a>
                    </h3>
                    <p>
                        Grâce à son puissant système basé sur les mots-clés et
                        son immense réseau de sites partenaires, Google Ads vous
                        permet de capter les internautes au moment précis où ils
                        recherchent vos produits ou services.
                    </p>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Idéal pour les entreprises de proximité
                        </li>
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Idéal pour la vente de services
                        </li>
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Touche un public avec une forte intention d’achat
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Instagram -->
            <div class="col-lg-6 col-md-6">
                <div class="service-card position-relative z-1">
                    <div class="service-icon">
                        <img src="/RS/Instagram-brosmedia.svg" />
                    </div>
                    <a
                        href="#visibilite-max"
                        class="card-action d-flex align-items-center justify-content-center rounded-circle"
                    >
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <h3>
                        <a href="#visibilite-max">
                            Instagram <span>Ads</span>
                        </a>
                    </h3>
                    <p>
                        Plateforme visuelle par excellence, Instagram est l’endroit idéal pour capter l’attention d’un public jeune et dynamique. Avec son ciblage précis basé sur les centres d’intérêt, vos campagnes deviennent inspirantes et engageantes.
                    </p>
                    <br />
                    <ul class="list-unstyled">
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i>  Idéal pour les marques visuelles (mode, beauté, design, food, etc.)
                        </li>
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Idéal pour les entreprises locales et créatives
                        </li>
                        <li>
                            <i class="bi bi-check2" style="font-size: 18px;"
                            ></i> Touche un public jeune, attiré par l’esthétique et le visuel
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
