<style>
    .our-features .card-body {
        background-color: #e30f29;
    }
    .our-features h5.card-title {
        font-size: 20px;
        font-weight: bold;
    }

    .our-features .card-text{
        text-align: initial;
    }
</style>

<section class="steps section our-features">
    <!-- Section Title -->
    <div class="service-header">
        <div class="container">
            <h2 style="font-weight: 600;">
                Un service publicitaire de qualité
            </h2>
        </div>
    </div>

    <div class="container text-center py-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mb-1">
                <div class="card h-100 border-0">
                    <div class="card-body">
                        <i
                            class="bi bi-rocket text-white"
                            style="font-size: 2rem;"></i>
                        <h5 class="card-title text-white mt-3 mb-3">
                            Lancement
                        </h5>
                        <p class="card-text text-white">
                            Dès le départ, notre agence vous accompagne avec des
                            créations publicitaires sur mesure. Chaque campagne
                            est pensée pour offrir une expérience utilisateur
                            optimale et garantir un lancement réussi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-1">
                <div class="card h-100 border-0">
                    <div class="card-body">
                        <i
                            class="bi bi-bullseye text-white"
                            style="font-size: 2rem;"></i>
                        <h5 class="card-title text-white mt-3 mb-3">Ciblage</h5>
                        <p class="card-text text-white">
                            Nous mettons en place des stratégies de ciblage
                            avancées afin que vos publicités atteignent les
                            bonnes personnes, au bon moment et sur le bon canal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-1">
                <div class="card h-100 border-0">
                    <div class="card-body">
                        <i
                            class="bi bi-bar-chart-line text-white"
                            style="font-size: 2rem;"></i>
                        <h5 class="card-title text-white mt-3 mb-3">Suivi</h5>
                        <p class="card-text text-white">
                            Chaque campagne bénéficie d’un accompagnement
                            personnalisé avec un gestionnaire dédié. Nous
                            analysons en continu les performances pour optimiser
                            vos résultats.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-1">
                <div class="card h-100 border-0">
                    <div class="card-body">
                        <i
                            class="bi bi-lightbulb text-white"
                            style="font-size: 2rem;"></i>
                        <h5 class="card-title text-white mt-3 mb-3">
                            Conversion
                        </h5>
                        <p class="card-text text-white">
                            Nos créations publicitaires sont conçues pour
                            transformer vos prospects en clients. Grâce à des
                            annonces optimisées, vous augmentez votre taux de
                            conversion et obtenez un retour sur investissement
                            mesurable.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
