---
import "../styles/home.css";
import Hero from "../components/home/hero.astro";
import HeroTabletMobile from "../components/home/hero-tablet-mobile.astro";
import Contact from "../components/home/contact.astro";
import About from "../components/home/about.astro";
import TestimonialsVideos from "../components/home/testimonials-as-videos.astro";
import Keys from "../components/home/success-keys.astro";
import Services from "../components/home/services.astro";
import Team  from "../components/home/team.astro";
import FAQ  from "../components/home/faq.astro";
import Pricing from "../components/home/pricing.astro";
import CallToAction from "../components/home/call-to-action.astro";
import Portfolio from "../components/home/portfolio.astro";
import Logos from "../components/home/logo-slider.astro";
---

<!-- Hero Section -->
<Hero />
<HeroTabletMobile/>
<Logos/>

<!-- /Hero Section -->

<!-- About Section -->
<About/>
<!-- /About Section -->

<TestimonialsVideos/>

<Keys/>

<!-- Services Section -->
<Services/>
<!-- /Services Section -->

<!-- Call To Action Section -->
<CallToAction/>
<!-- /Call To Action Section -->

<!-- Portfolio Section -->
<Portfolio/>
<!-- /Portfolio Section -->

<!-- Team Section -->
<Team/>
<!-- /Team Section -->

<!-- Pricing Section -->
<Pricing/>
<!-- /Pricing Section -->

<!-- Faq Section -->
<FAQ/>
<!-- /Faq Section -->

<!-- Contact Section -->
<Contact/>
<!-- /Contact Section -->

<!-- Preloader -->
<!-- <div id="preloader"></div> -->
