---
import "../styles/home.css";
import Hero from "../components/sections/hero.astro";
import Contact from "../components/sections/contact.astro";
import About from "../components/sections/about.astro";
import TestimonialsVideos from "../components/sections/testimonials-as-videos.astro";
import Keys from "../components/sections/success-keys.astro";
import Services from "../components/sections/setvices.astro";
import Team  from "../components/sections/team.astro";
import FAQ  from "../components/sections/faq.astro";
import Pricing from "../components/sections/pricing.astro";
import CallToAction from "../components/sections/call-to-action.astro";
import Portfolio from "../components/sections/portfolio.astro";
import Logos from "../components/sections/logo-slider.astro";
---

<!-- Hero Section -->
<Hero />
<Logos/>

<!-- /Hero Section -->

<!-- About Section -->
<About/>
<!-- /About Section -->

<TestimonialsVideos/>

<Keys/>

<!-- Services Section -->
<Services/>
<!-- /Services Section -->

<!-- Call To Action Section -->
<CallToAction/>
<!-- /Call To Action Section -->

<!-- Portfolio Section -->
<Portfolio/>
<!-- /Portfolio Section -->

<!-- Team Section -->
<Team/>
<!-- /Team Section -->

<!-- Pricing Section -->
<Pricing/>
<!-- /Pricing Section -->

<!-- Faq Section -->
<FAQ/>
<!-- /Faq Section -->

<!-- Contact Section -->
<Contact/>
<!-- /Contact Section -->

<!-- Preloader -->
<!-- <div id="preloader"></div> -->
