---
import "../styles/services.css";
import Layout from "../layouts/BaseLayout.astro";
import Header from "../components/services/website/header.astro";
import SideBar from "../components/services/website/side-bar.astro";
import Overview from "../components/services/website/overview.astro";
import ListContent from "../components/services/website/list-content.astro";
import Tech from "../components/services/website/tech.astro";
import TelephoneAppointmentForm from "../components/telephone-appointment-form.astro";
---

<Layout>
  <main class="main">
    <Header />

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">
      <div class="container">
        <div class="row gy-5">
          <div class="col-lg-8 order-lg-1 order-2">
            <div class="service-main-content">
              <div class="service-header">
                <h1>Création de sites web professionnels</h1>
                <p class="lead">
                  Nous vous accompagnons dans la mise en place de votre présence
                  en ligne avec des sites modernes, performants et adaptés à vos
                  besoins.
                </p>
              </div>

              <Overview />

              <ListContent />


              <Tech />

              <div class="service-gallery">
                <h3>Our Marketing Portfolio</h3>
                <div class="service-details-slider swiper init-swiper">
                  <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 800,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": 1,
                      "spaceBetween": 30,
                      "breakpoints": {
                        "768": {
                          "slidesPerView": 2
                        }
                      },
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    }
                  </script>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="portfolio-item">
                        <img
                          src="/img/services/services-2.webp"
                          alt=""
                          class="img-fluid"
                          loading="lazy"
                        />
                        <div class="portfolio-info">
                          <h5>Social Media Campaign</h5>
                          <p>Increased engagement by 187%</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="portfolio-item">
                        <img
                          src="/img/services/services-4.webp"
                          alt=""
                          class="img-fluid"
                          loading="lazy"
                        />
                        <div class="portfolio-info">
                          <h5>SEO Optimization</h5>
                          <p>Ranked #1 for target keywords</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="portfolio-item">
                        <img
                          src="/img/services/services-10.webp"
                          alt=""
                          class="img-fluid"
                          loading="lazy"
                        />
                        <div class="portfolio-info">
                          <h5>Content Marketing</h5>
                          <p>200% increase in organic traffic</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              
              <br><br>
        <TelephoneAppointmentForm />


            </div>
          </div>

          <div class="col-lg-4 order-lg-2 order-1">
            <SideBar />
          </div>
        </div>
      </div>
    </section>



  </main>
</Layout>
