---
import Layout from "../layouts/BaseLayout.astro";
import "../styles/services.css";
import Form from "../components/telephone-appointment-form.astro";
---

<Layout>
    <main class="main">
        <!-- Page Title -->
        <div class="page-title dark-background">
            <div class="container position-relative">
                <h1 class="text-center">Politiques de Brosmedia</h1>

                <nav class="breadcrumbs">
                    <ol>
                        <li>
                            <a href="/"
                                >Agence De Communication Digitale Maroc</a
                            >
                        </li>
                        <li class="current">Politiques de Brosmedia</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Story Section -->
        <section class="section py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <article class="story-content" id="privacy-policy">
                            <br><br><h2 class="mb-4 fw-bold">
                                Politique de Confidentialité
                            </h2>

                            <p>
                                Chez Brosmedia, la protection des données de nos
                                clients et visiteurs est une priorité absolue.
                                Nous nous engageons à collecter, traiter et
                                protéger les données conformément aux lois
                                marocaines et internationales relatives à la
                                protection des données.
                            </p>
                            <p>Données collectées :</p>
                            <ul class="mb-4">
                                <li>Nom complet</li>
                                <li>Adresse e-mail</li>
                                <li>Numéro de téléphone</li>
                                <li>
                                    Toute autre donnée transmise via nos
                                    formulaires de contact ou d’inscription
                                </li>
                            </ul>

                            <p>Finalités d’utilisation des données :</p>
                            <ul class="mb-4">
                                <li>
                                    Fournir et exécuter les services demandés
                                </li>
                                <li>
                                    Communiquer avec les clients pour envoyer
                                    des offres ou services promotionnels (avec
                                    consentement préalable)
                                </li>
                                <li>
                                    Améliorer l’expérience client par le
                                    reciblage publicitaire
                                </li>
                                <li>Gestion administrative et facturation</li>
                            </ul>

                            <p>Protection des données :</p>
                            <ul class="mb-4">
                                <li>Sauvegardes régulières</li>
                                <li>
                                    Systèmes de sécurité avancés contre les
                                    intrusions
                                </li>
                                <li>
                                    Aucune transmission à des tiers, sauf pour
                                    l’exécution du service ou dans le cadre
                                    légal applicable
                                </li>
                            </ul>

                            <p>Droits de l’utilisateur :</p>
                            <ul class="mb-4">
                                <li>
                                    Accès, modification ou suppression de ses
                                    données via : contact@brosmedia.ma
                                </li>
                                <li>Retrait du consentement à tout moment</li>
                            </ul>
                        </article>

                        <article class="story-content" id="cookie-policy">
                            <br><br><h2 class="mb-4 fw-bold">
                                Politique relative aux Cookies
                            </h2>

                            <p>
                                Actuellement, le site Brosmedia n’utilise aucun
                                fichier cookies.
                            </p>
                            <p>
                                En cas d’activation future, une notification
                                claire sera affichée et les utilisateurs
                                pourront accepter ou refuser leur utilisation.
                            </p>
                        </article>

                        <article class="story-content" id="cgu">
                            <br><br><h2 class="mb-4 fw-bold">
                                Conditions Générales d’Utilisation (CGU)
                            </h2>

                            <p>Services proposés :</p>
                            <ul class="mb-4">
                                <li>
                                    Conception et développement de sites web
                                </li>
                                <li>Référencement naturel (SEO)</li>
                                <li>
                                    Développement et vente d’applications
                                    numériques
                                </li>
                                <li>
                                    Campagnes publicitaires digitales et gestion
                                    des réseaux sociaux
                                </li>
                            </ul>

                            <p>Engagements de l’entreprise :</p>
                            <ul class="mb-4">
                                <li>
                                    Fournir des prestations de haute qualité
                                    conformément aux contrats
                                </li>
                                <li>
                                    Respecter les délais et conditions convenus
                                </li>
                            </ul>

                            <p>Engagements du client :</p>
                            <ul class="mb-4">
                                <li>
                                    Fournir des informations exactes et à jour
                                </li>
                                <li>
                                    Régler les montants dus conformément au
                                    contrat
                                </li>
                            </ul>

                            <p>Propriété intellectuelle :</p>
                            <ul class="mb-4">
                                <li>
                                    Tous les contenus, codes et développements
                                    réalisés par Brosmedia sont protégés par le
                                    droit d’auteur
                                </li>
                                <li>
                                    Interdiction de reproduire, réutiliser ou
                                    distribuer sans accord écrit
                                </li>
                            </ul>
                        </article>

                        <article
                            class="story-content"
                            id="refund-cancellation-policy"
                        >
                            <br><br><h2 class="mb-4 fw-bold">
                                Politique de Remboursement et d’Annulation
                            </h2>

                            <p>
                                Après paiement de l’acompte et lancement du
                                projet, aucun remboursement n’est possible .
                            </p>
                            <p>
                                Un contrat détaillé précisant la nature du
                                travail et le montant dû est systématiquement
                                signé avant le démarrage
                            </p>
                            <p>Modes de paiement :</p>
                            <ul class="mb-4">
                                <li>
                                    Virement bancaire
                                    <ul>
                                        <li>
                                            RIB : 011 735 0000022100006869 73
                                        </li>
                                        <li>
                                            IBAN : MA64 0117 3500 0002 2100 0068
                                            6973
                                        </li>
                                        <li>BIC : BMCEMAMC</li>
                                    </ul>
                                </li>
                                <li>
                                    Paiement en espèces ou par chèque si le
                                    montant est inférieur à 5000 MAD
                                </li>
                            </ul>
                        </article>

                        <article
                            class="story-content"
                            id="security-data-protection-policy"
                        >
                            <br><br><h2 class="mb-4 fw-bold">
                                Politique de Propriété Intellectuelle
                            </h2>

                            <p>
                                L’attribution à Brosmedia en tant que
                                développeur original doit toujours être
                                mentionnée
                            </p>
                            <p>
                                Suppression de cette attribution uniquement en
                                cas de refonte complète ou de modification
                                intégrale
                            </p>
                            <p>
                                En cas de violation, recours auprès du Tribunal
                                de Commerce de Tanger
                            </p>
                        </article>

                        <article
                            class="story-content"
                            id="security-data-protection-policy"
                        >
                            <br><br><h2 class="mb-4 fw-bold">
                                Politique de Sécurité et de Protection des
                                Données
                            </h2>

                            <p>
                                Équipe technique dédiée à la surveillance et la
                                sécurisation 24/7
                            </p>
                            <p>
                                Mesures préventives contre tout accès ou usage
                                non autorisé
                            </p>
                            <p>
                                Signalement et traitement immédiat de toute
                                faille de sécurité selon les procédures légales
                            </p>
                        </article>

                        <article
                            class="story-content"
                            id="communication-customer-service-policy"
                        >
                            <br><br><h2 class="mb-4 fw-bold">
                                Politique de Communication et Service Client
                            </h2>

                            <p>
                                Canaux officiels de communication de Brosmedia :
                            </p>
                            <ul class="mb-4">
                                <li>E-mail : contact@brosmedia.ma</li>
                                <li>Téléphone : 0671884968</li>
                                <li>WhatsApp : 0671884968</li>
                                <li>Site web : www.brosmedia.ma</li>
                                <li>Réseaux sociaux : brosmedia.digital</li>
                            </ul>

                            <p>Horaires de service :</p>
                            <ul class="mb-4">
                                <li>Lundi au Vendredi : 09h00 – 18h00</li>
                                <li>Samedi : 09h00 – 13h00</li>
                                <li>Dimanche et jours fériés : Fermé</li>
                            </ul>

                            <p>Engagements :</p>
                            <ul class="mb-4">
                                <li>
                                    Répondre à toutes les demandes dans les
                                    délais impartis pendant les horaires
                                    d’ouverture
                                </li>
                                <li>
                                    Traiter toute réclamation conformément aux
                                    contrats et à la législation en vigueur .
                                </li>
                            </ul>

                        </article>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
