---
import Form from "../telephone-appointment-form.astro";
---

<section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" >
        <h2>À propos</h2>
        <div>
            <span>En savoir plus</span>
            <span class="description-title">À propos de nous</span>
        </div>
    </div>
    <!-- End Section Title -->

    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"  >
                <div class="about-image position-relative">
                    <img
                        src="/img/about/HY.webp"
                        class="img-fluid rounded-4 shadow-sm"
                        alt="About Image"
                        loading="lazy"
                    />
                    <div class="experience-badge">
                        <div class="stats-arrow">
                            <a href="/notre-histoire"
                                ><i class="bi bi-arrow-up-right"></i></a
                            >
                        </div>
                        <span class="years">6+</span>
                        <span class="text">Années d'expertise</span>
                    </div>
                </div>
            </div>

            <div
                class="col-lg-6 mt-4 mt-lg-0">
                <div class="about-content">
                    <h2>
                        Une Aventure <strong>Familiale</strong> Au <strong>Service Du Marketing Digital</strong>
                    </h2>
                    <p class="lead">
                       Brosmedia est née de la vision de Hamza, soutenue dès le départ par sa famille, avec sa sœur comme premier pilier. Plus qu’une entreprise, c’est un projet familial où chaque client devient un membre de la famille. Nous bâtissons des relations basées sur la confiance, le respect et la collaboration.
                    </p>
    
                    <div class="row g-4 mt-3">
                        <div class="divider"></div>
                        <Form />
                    </div>
                </div>
            </div>
        </div>

      
    </div>
</section>