<section class="faq-9 faq section" id="faq">
    <div class="container section-title">
        <h2>FAQ</h2>
        <div>
            <span>Foire aux </span>
            <span class="description-title">Questions</span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="border-right: 1px solid #6c6f95;">
                <div class="faq-container">
                    <!-- faq-active -->
                    <div class="faq-item ">
                        <h3>
                            Comment garantissez-vous la qualité de vos services
                            ?
                        </h3>
                        <div class="faq-content">
                            <p>
                                Chaque projet passe par un processus de révision
                                interne impliquant plusieurs membres de l’équipe
                                pour assurer le respect des normes de qualité.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>Gérez-vous les réseaux sociaux ?</h3>
                        <div class="faq-content">
                            <p>
                                Oui, nous proposons la gestion complète des
                                réseaux sociaux, incluant la création de
                                contenu, la planification des publications et
                                l’interaction avec la communauté.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>
                            Proposez-vous des services de production vidéo ?
                        </h3>
                        <div class="faq-content">
                            <p>
                                Oui, nous réalisons des vidéos publicitaires et
                                promotionnelles avec un tournage et un montage
                                professionnels.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>
                            Que se passe-t-il si je ne suis pas satisfait du
                            résultat final ?
                        </h3>
                        <div class="faq-content">
                            <p>
                                Nous effectuons les ajustements nécessaires pour
                                garantir votre entière satisfaction et maintenir
                                une relation de confiance.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>
                            Pouvez-vous améliorer un site existant au lieu d’en
                            créer un nouveau ?
                        </h3>
                        <div class="faq-content">
                            <p>
                                Oui, nous pouvons moderniser, optimiser et
                                améliorer la performance de votre site actuel.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="faq-container">
                    <div class="faq-item ">
                        <h3>
                            Proposez-vous des designs personnalisés ou des
                            modèles prêts à l’emploi ?
                        </h3>
                        <div class="faq-content">
                            <p>
                                Nous privilégions les designs sur mesure adaptés
                                à l’identité de chaque marque, mais nous pouvons
                                également personnaliser des modèles
                                professionnels selon vos besoins.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Comment établissez-vous vos tarifs ?</h3>
                        <div class="faq-content">
                            <p>
                                Le prix dépend du type de projet, de sa
                                complexité et des technologies utilisées. Un
                                devis détaillé est fourni après analyse de vos
                                besoins.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->

                    <div class="faq-item">
                        <h3>
                            Est-il possible de modifier le projet après sa
                            livraison ?
                        </h3>
                        <div class="faq-content">
                            <p>
                                Oui, nous proposons des ajustements conformément
                                aux accords initiaux, et nous pouvons ajouter de
                                nouvelles fonctionnalités à tout moment.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->

                    <div class="faq-item">
                        <h3>Quels moyens de paiement acceptez-vous ?</h3>
                        <div class="faq-content">
                            <p>
                                Nous acceptons plusieurs modes de paiement,
                                comme le virement bancaire, le paiement par
                                carte en ligne ou en espèces (pour les clients
                                au Maroc).
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->

                    <div class="faq-item">
                        <h3>
                            Fournissez-vous une formation après la création d’un
                            site web ?
                        </h3>
                        <div class="faq-content">
                            <p>
                                Absolument, nous offrons une session de
                                formation pour expliquer comment gérer et mettre
                                à jour votre site en toute autonomie.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>
                    <!-- End Faq item-->

                    <!-- End Faq item-->
                </div>
            </div>
        </div>
    </div>
</section>
