<section id="services" class="services section" style="">
    <!-- Section Title -->
    <div class="container section-title" >
        <h2>Services</h2>
        <div>
            <span>Découvrez nos</span>
            <span class="description-title">services</span>
        </div>
    </div>
    <!-- End Section Title -->

    <div class="container"  >
        <div class="service-header">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="service-intro">
                        <h2 class="service-heading">
                            <div>Entreprise innovante</div>
                            <div><span>solutions de performance</span></div>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="service-summary">
                        <p>
                            <strong>Brosmedia</strong> vous accompagne de A à Z : stratégie digitale, création de site, identité visuelle, SEO, contenu, réseaux sociaux et publicité en ligne pour booster votre présence et vos résultats.
                        </p>
                        <!-- <a href="services.html" class="service-btn">
                                View All Services
                                <i class="bi bi-arrow-right"></i>
                            </a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div
                class="col-lg-4 col-md-6"
                
                
            >
                <div class="service-card position-relative z-1">
                    <div class="service-icon">
                        <i class="bi bi-laptop"></i>
                    </div>
                    <a
                        href="/creation-de-site-web"
                        class="card-action d-flex align-items-center justify-content-center rounded-circle"
                    >
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <h3>
                        <a href="/creation-de-site-web">
                            Conception <span>de site Web</span>
                        </a>
                    </h3>
                    <p>
                        Nous concevons des sites web professionnels, modernes et adaptés à tous les écrans (responsive design). Que ce soit pour une vitrine d'entreprise, un site e-commerce ou un site sur-mesure, nous assurons une expérience utilisateur optimale, un design élégant et une performance technique qui valorise votre activité en ligne.
                    </p>
                </div>
            </div>
            <div
                class="col-lg-4 col-md-6"
                
                
            >
                <div class="service-card position-relative z-1">
                    <div class="service-icon">
                        <i class="bi bi-palette"></i>
                    </div>
                    <a
                        href="/creation-publicitaire"
                        class="card-action d-flex align-items-center justify-content-center rounded-circle"
                    >
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <h3>
                        <a href="/creation-publicitaire">
                            Création <span>Publicitaire</span>
                        </a>
                    </h3>
                    <p>
                        Nous réalisons des visuels publicitaires percutants et sur-mesure : affiches, bannières web, flyers, publications pour réseaux sociaux... Chaque création est pensée pour capter l'attention de votre audience et refléter votre identité visuelle, afin d’optimiser votre communication et renforcer votre notoriété..
                    </p>
                </div>
            </div>
            <div
                class="col-lg-4 col-md-6"
                
                
            >
                <div class="service-card position-relative z-1">
                    <div class="service-icon">
                        <i class="bi bi-megaphone"></i>
                    </div>
                    <a
                        href="/video-publicitaire"
                        class="card-action d-flex align-items-center justify-content-center rounded-circle"
                    >
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <h3>
                        <a href="/video-publicitaire">
                            Vidéo <span>Publicitaire</span>
                        </a>
                    </h3>
                    <p>
                       Nous produisons des vidéos publicitaires professionnelles, adaptées aux réseaux sociaux, au web ou à la télévision. Scénario, tournage, montage : nous créons des vidéos engageantes et dynamiques qui mettent en valeur vos produits, vos services ou votre marque, en racontant une histoire qui capte l’attention et suscite l’émotion.
                    </p>
                </div>
            </div>
           
        </div>
    </div>
</section>