---

---

<style>
    @media (max-width: 768px) {
    .rounded-circle {
        width: 20px !important;
        height: 20px !important;
    }

    .footer-labels>div>div.col-6{
        width: 40%;
        margin-left: 7%;
    }
}
</style>

<footer id="footer" class="footer">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="sitename">
                        <img
                            src="/Logo-brosmedia-png.webp"
                            alt="Logo"
                            class="h-10 w-auto sm:h-10 md:h-10 lg:h-12 object-contain"
                        /></span
                    >
                </a>
                <p>
                    <strong
                        >Brosmedia, agence de communication digitale au Maroc.</strong
                    ><br />
                    Création de sites web et marketing digital. <br />Des
                    solutions sur mesure pour votre présence en ligne.
                </p>

                <div class="footer-contact">
                    <p class="mt-4">
                        <strong>Adresse:</strong>
                        <span
                            >N° 12, Avenue Abi Anane El Marini RDC, Larache
                            92000</span
                        >
                    </p>

                    <p>
                        <strong>Téléphone:</strong>
                        <span>
                            <a
                                href="tel:+212671884968"
                                class="text-white text-decoration-none hover:text-gray-300"
                                aria-label="Call us at +1 234 567 890"
                            >
                                +212 6 71 88 49 68
                            </a>
                        </span>
                    </p>
                    <p>
                        <strong>E-mail:</strong>
                        <span>
                            <a
                                href="https://mail.google.com/mail/?view=cm&fs=1&to=contact@brosmedia.ma"
                                target="_blank"
                                class="text-white text-decoration-none hover:text-gray-300"
                                aria-label="Email us at contact@brosmedia.ma"
                            >
                                contact@brosmedia.ma
                            </a>
                        </span>
                    </p>
                </div>

                <div class="social-links d-flex mt-4">
                    <a href="https://www.facebook.com/BROSMEDIA.PRODUCTION"
                        ><i class="bi bi-facebook"></i></a
                    >
                    <a href='https://www.instagram.com/brosmedia.digital""'
                        ><i class="bi bi-instagram"></i></a
                    >
                    <a href="https://ma.linkedin.com/company/brosmedia-sarl"
                        ><i class="bi bi-linkedin"></i></a
                    >
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Services</h4>
                <ul>
                    <li>
                        <a href="/creation-de-site-web" target="_blank"
                            >Création de Site Web</a
                        >
                    </li>
                    <li>
                        <a href="/marketing-digital" target="_blank"
                            >Marketing Digital</a
                        >
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Liens Utiles</h4>
                <ul>
                    <li>
                        <a href="https://brosmedia.ma/creation-site-web-agadir/"
                            >Création site Web Agadir</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://brosmedia.ma/creation-site-web-casablanca/"
                            >Création site Web Casablanca</a
                        >
                    </li>
                    <li>
                        <a href="https://brosmedia.ma/creation-site-web-rabat/"
                            >Création site Web Rabat</a
                        >
                    </li>
                    <li>
                        <a href="https://brosmedia.ma/creation-site-web-tanger/"
                            >Création site Web Tanger</a
                        >
                    </li>
                    <li>
                        <a href="https://brosmedia.ma/creation-site-web-fes/"
                            >Création site Web Fes</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://brosmedia.ma/creation-site-web-marrakech/"
                            >Création site Web Marrakech</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://brosmedia.ma/creation-site-web-larache/"
                            >Création site Web Larache</a
                        >
                    </li>
                </ul>
            </div>

            <div
                class="col-lg-3 col-md-12 footer-labels text-center text-md-start"
            >
                <h4>NOS LABELS</h4>

                <div class="row g-3">
                    <!-- Label 1 -->
                    <div class="col-6">
                        <div
                            class="bg-white rounded-4 p-3 position-relative shadow-sm d-flex align-items-center justify-content-center h-100"
                            style="background-color: #f5f9ff !important;"
                        >
                            <img
                                src="https://brosmedia.ma/wp-content/uploads/2023/11/Google-marketing-platform-01.svg"
                                alt="Google"
                                class="img-fluid"
                                style="max-height: 100px;"
                            />
                            <span
                                class="badge bg-success position-absolute top-0 end-0 translate-middle p-1 rounded-circle"
                                style="font-size: 0.5rem;">✔️</span
                            >
                        </div>
                    </div>

                    <!-- Label 2 -->
                    <div class="col-6">
                        <div
                            class="bg-white rounded-4 p-3 position-relative shadow-sm d-flex align-items-center justify-content-center h-100"
                            style="background-color: #f5f9ff !important;"
                        >
                            <img
                                src="https://brosmedia.ma/wp-content/uploads/2023/11/logo-Meta-01-1.svg"
                                alt="Meta"
                                class="img-fluid"
                                style="max-height: 100px;"
                            />
                            <span
                                class="badge bg-success position-absolute top-0 end-0 translate-middle p-1 rounded-circle"
                                style="font-size: 0.5rem;">✔️</span
                            >
                        </div>
                    </div>

                    <!-- Label 3 -->
                    <div class="col-6">
                        <div
                            class="bg-danger rounded-4 p-3 position-relative shadow-sm d-flex align-items-center justify-content-center h-100"
                            style="    background: #ff0000 !important;"
                        >
                            <img
                                src="https://brosmedia.ma/wp-content/uploads/2023/11/toppp.svg"
                                alt="Semrush"
                                class="img-fluid"
                                style="max-height: 100px;"
                            />
                            <span
                                class="badge bg-success position-absolute top-0 end-0 translate-middle p-1 rounded-circle"
                                style="font-size: 0.5rem;">✔️</span
                            >
                        </div>
                    </div>

                    <!-- Label 4 -->
                    <div class="col-6">
                        <div
                            class="bg-danger rounded-4 p-3 position-relative shadow-sm d-flex align-items-center justify-content-center h-100"
                            style="    background: #ff0000 !important;"
                        >
                            <img
                                src="https://brosmedia.ma/wp-content/uploads/2023/11/adobe.svg"
                                alt="Adobe"
                                class="img-fluid"
                                style="max-height: 100px;"
                            />
                            <span
                                class="badge bg-success position-absolute top-0 end-0 translate-middle p-1 rounded-circle"
                                style="font-size: 0.5rem;">✔️</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p class="text-center">
            © <strong class="px-1 sitename">Brosmedia.</strong>
            <span>Tous droits réservés.</span>
        </p>
        <div class="credits text-center">
            Réalisé par <a href="https://brosmedia.ma/">Brosmedia</a>
        </div>
    </div>
</footer>
