---
const { platform, username } = Astro.props;
---

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #;
        text-decoration: none;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .box {
        background-color: #4c1d95;
        border-radius: 10px;
        width: fit-content;
        margin-right: 5px;
    }
</style>

<!-- <div>
    <a href={`https://www.${platform}.com/${username}`}>{platform}</a>
</div> -->
