---

---

<style>
    div#marketing-audit {
    background-color: white;
}

div#marketing-audit>div>div>div>* {
    color: #0a0f4f;
}

div#marketing-audit>div>div>div>p {
    font-size: 17px;
}

div#marketing-audit input {
    border-color: #0a0f4f;
}
div#marketing-audit button {
    background-color: #0a0f4f;
    border-color: #0a0f4f;
}
</style>

<div class="text-white p-4" id="marketing-audit"  data-aos-delay="300">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="mb-2">Vous souhaitez un audit marketing gratuit ?</h2>
        <p class="mb-2">Recevez nos dernières actualités, conseils exclusifs et offres spéciales directement dans votre boîte mail.</p>
        <p>Abonnez-vous à notre newsletter et nous vous recontacterons !</p>
      </div>
      <div class="col-md-4">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nom de domaine" required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="E-mail" required>
          </div>
          <button type="submit" class="btn btn-light w-100">S'abonner</button>
        </form>
      </div>
    </div>
  </div>
</div>