---

---

<section id="services" class="services section">
  <div class="container">
    <div class="row justify-content-center">

    <!-- Client MAX -->
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-card position-relative z-1">
            <div class="service-icon">
                <i class="bi bi-people"></i>
            </div>
            <a href="#client-max" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
            </a>
            <h3>
                <a href="#client-max">
                    Client <span>MAX</span>
                </a>
            </h3>
            <ul class="list-unstyled">
                <li>✔️ B2C & B2B</li>
                <li><i class="bi bi-laptop"></i> Création d'un site web</li>
                <li><i class="bi bi-megaphone"></i> Lancement de campagnes publicitaires</li>
                <li><i class="bi bi-cart-check"></i> Conversion MAX</li>
            </ul>
        </div>
    </div>

    <!-- Impact MAX -->
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-card position-relative z-1">
            <div class="service-icon">
                <i class="bi bi-graph-up-arrow"></i>
            </div>
            <a href="#impact-max" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
            </a>
            <h3>
                <a href="#impact-max">
                    Impact <span>MAX</span>
                </a>
            </h3>
            <ul class="list-unstyled">
                <li>✔️ B2B</li>
                <li><i class="bi bi-linkedin"></i> Prospection LinkedIn</li>
                <li><i class="bi bi-hand-thumbs-up"></i> Obtention de rendez-vous qualifiés</li>
                <li>✔️ Récolte de données RGPD</li>
            </ul>
        </div>
    </div>

    <!-- Visibilité MAX -->
    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-card position-relative z-1">
            <div class="service-icon">
                <i class="bi bi-eye"></i>
            </div>
            <a href="#visibilite-max" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
            </a>
            <h3>
                <a href="#visibilite-max">
                    Visibilité <span>MAX</span>
                </a>
            </h3>
            <ul class="list-unstyled">
                <li>✔️ B2C & B2B</li>
                <li><i class="bi bi-camera-video"></i> Production de contenus</li>
                <li><i class="bi bi-megaphone"></i> Lancement de campagnes publicitaires</li>
                <li><i class="bi bi-bar-chart"></i> Conversion MAX</li>
            </ul>
        </div>
    </div>

</div>

  </div>
</section>
    