---

---

<section>
    <div class="container section-title" >
        <h2>Équipe dédiée</h2>
        <div>
            <span>Confiez-vous à notre</span>
            <span class="description-title">
                équipe de professionnels dévoués.
            </span>
        </div>
    </div>

    <div class="container my-5"  >
        <div class="row align-items-center">
            <!-- Left Image Section -->
           
            <div class="col-md-4 description">
                <p>
                    Notre équipe, composée de professionnels dévoués, est à votre écoute pour répondre à tous vos besoins. En tant qu’agence de communication, nous nous engageons à fournir des solutions digitales sur mesure pour chaque client.
                </p>
            </div>

            <div class="col-md-8">
                <img
                    src="https://hkcom.fr/wp-content/uploads/2024/05/Reactif-Fiable-Rigoureux-passione.png.webp"
                    alt="Visibilité MAX"
                    class="img-fluid rounded shadow"
                />
            </div>

            <!-- Right Text Section -->
            
        </div>
    </div>
</section>