
<section>
<div class="p-4 rounded">
  <div class="container text-center">
    <h2 class="mb-3">Agence Digitale <br> pas comme les autres...</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-2">
        <span class=" text-white p-2 ">Un Seul Interlocuteur</span>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <span class=" text-white p-2 ">Solutions concrètes</span>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <span class=" text-white p-2 ">Fiabilité</span>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <span class=" text-white p-2 ">Satisfaction du Client</span>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <span class=" text-white p-2 ">Agence Certifiée</span>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <span class=" text-white p-2 ">Confidentialité</span>
      </div>
    </div>
  </div>
</div>
</section>