<section class="steps section">
  <!-- Section Title -->
  <div class="service-header">
    <div class="container">
      <h2 style="font-weight: 600;">Pourquoi choisir Brosmedia ?</h2>
    </div>
  </div>

  <div class="container">
    <div
      class="tab-pane"
      id="service-details-tab-2"
      role="tabpanel"
      aria-labelledby="process-tab"
    >
      <div class="process-timeline">
        <div class="timeline-item">
          <div class="timeline-marker">
            <i class="bi bi-check2" style="font-size: 20px;"></i>
          </div>
          <div class="timeline-content">
            <h4>Présenter efficacement vos produits ou services</h4>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-marker">
            <i class="bi bi-check2" style="font-size: 20px;"></i>
          </div>
          <div class="timeline-content">
            <h4>Communiquer un message simple et percutant</h4>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-marker">
            <i class="bi bi-check2" style="font-size: 20px;"></i>
          </div>
          <div class="timeline-content">
            <h4>Attirer plus de clients en magasin ou en ligne</h4>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-marker">
            <i class="bi bi-check2" style="font-size: 20px;"></i>
          </div>
          <div class="timeline-content">
            <h4>Renforcer votre image de marque professionnelle</h4>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-marker">
            <i class="bi bi-check2" style="font-size: 20px;"></i>
          </div>
          <div class="timeline-content">
            <h4>
              En complément : prises de vue aériennes avec drones sous licence
            </h4>
          </div>
        </div>
      </div>
    </div>
    <br />
    <p style="font-weight: 600;font-size: 19px;color: white;">
      Faites confiance à notre expertise en production vidéo pour dynamiser
      votre communication et donner plus de force à vos campagnes publicitaires.
    </p>
  </div>
</section>
